/*.imagen{
    width: 250px;
    height: auto;
}*/

body{
    font-family: 'Nunito', sans-serif;
}

.navbarColor{
    background-color: #dda15e
}

footer{
    background-color: #ffbf69;
    margin-top: 70px;
    padding-top: 30px;
}
footer p{
    text-align: justify;
    color: white;
    font-size: 14px;
}
footer h5{
    color: white;
}

.info{
    padding: 15px;
    color: #ffffffd7;
    background: #7a5048d4;
background: -webkit-linear-gradient(to right, #5b3b2edf, #ad6e53de); 
background: linear-gradient(to right, #532310d5, #ad7b53d5),url(./img/imagen5.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; /* imagen dentro */
height: 350px;
display: flex;
justify-content: center;
align-items: center;
padding: 40px 150px;
text-align: center;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-nosotros{
    height: 450px;
    background-image: url(./img/sobrenosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.color-cafe{
    color: #803011d5;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
}
.derechos{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    background-color: #531818d7;
}
.derechos p{
    margin: 0px;
}
i{
    font-size: 25px;
    margin: 0px 10px;
}
i:hover{
    color: rgb(255, 133, 76);
}


/* ESTILOS DE LOS ICONOS  DE FOOTER del INDEX*/
.icono-facebook{
    font-size: 40px;
    color: #0151fed7;
    transition: all ease 0.5s;
}
.icono-facebook:hover{
    transform: scale(1.2);
    color: #0137acd7;
}

.icono-instagram{
    font-size: 40px;
    color: #ea1d83d7;
    transition: all ease 0.5s;
}
.icono-instagram:hover{
    transform: scale(1.2);
    color: #c60063d7;
}

.icono-whatsapp{
    font-size: 40px;
    color: #10ff08d7;
    transition: all ease 0.5s;
}
.icono-whatsapp:hover{
    transform: scale(1.2);
    color: #10ff08d7;
}

.cafe{
    color: #803011d5;
    font-weight: 600;
}